.wrapper {
  width: 100%;
  font-family: var(--font-family-medium);
  display: flex;
  align-items: center;
  background-color: transparent;
  user-select: none;
  font-weight: 400;
  gap: 10px;
  cursor: pointer;
  position: relative;

  .title {
    font-size: 1.6rem;
    line-height: 21px;
    white-space: nowrap;
    opacity: 1;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    &.has-right-icon {
      flex: 1;
      justify-content: space-between;
    }

    &.title-small {
      font-size: 1.4rem;
      line-height: 18px;
      margin-left: 8px;
    }

    &.title-large {
      font-size: 1.8rem;
      line-height: 24px;
      margin-left: 8px;
    }
  }

  &.collapsed {
    .title {
      max-width: 0;
      opacity: 0;
      margin-left: 0;
      margin-right: 0;
      padding-left: 0;
      padding-right: 0;
      pointer-events: none;
    }
  }

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color) !important;
    flex-shrink: 0;

    &.icon-small {
      width: 20px;
      height: 20px;
    }

    &.icon-medium {
      width: 24px;
      height: 24px;
    }

    &.icon-large {
      width: 32px;
      height: 32px;
    }

    svg {
      width: 100%;
      height: 100%;
      display: block;
    }
  }

  &.disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}

// Padding sizes of button
.padding-none {
  padding: 0;
}

.padding-small {
  padding: 12px 12px;
}

.padding-medium {
  padding: 10px 8px 10px 16px;
}

.padding-large {
  padding: 14px 24px;
}

// Button hover types
.hover-background:hover {
  background: var(--search-hover-bg);
}

.hover-font:hover {
  color: var(--primary-color);
}

// Button types
.rounded {
  border-radius: 999px;
  background: var(--search-hover-bg);
}

.primary {
  border-radius: 6px;
}

.outline {
  color: var(--primary);
  border-color: currentColor;

  &:hover {
    border-color: currentColor;
    background-color: rgba(254, 44, 85, 0.06);
  }
}

.text {
  &:hover {
    text-decoration: underline;
  }
}

// Font types
.font-regular {
  font-family: var(--font-family-regular);
}

.font-medium {
  font-family: var(--font-family-medium);
}

.font-bold {
  font-family: var(--font-family-bold);
}
