.toggle-button {
  position: relative;
  width: 44px;
  height: 24px;
  left: 0px;
  top: 0px;
  background: rgba(22, 24, 35, 0.12);
  border-radius: 100px;
  transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);

  &.active {
    background: rgb(11, 224, 155);

    &:hover {
      background:
        linear-gradient(0deg, rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0.08)),
        rgb(11, 224, 155);
    }
  }
}

.span-switch-icon {
  position: absolute;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  width: 20px;
  height: 20px;
  left: 2px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 100px;
  background: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 2px;
  transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);

  &.active {
    left: calc(100% - 2px);
    top: 50%;
    transform: translate(-100%, -50%);
  }
}
